@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Allerta Stencil', sans-serif;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

/*configuracion de variables*/
:root{
    --main-color: #f3f3f3;
    --secondary-color: #161516;
    --third-color: #850f0f;
    --grosor-negrita :bold;
}

body{
    font-family: "Allerta Stencil", sans-serif;
    background-color: var(--third-color);
    color: var(--main-color);
}

header, footer{
    background-color: rgba(100, 10, 10,0.1);
}

.links{
    color: var(--main-color);
    text-decoration: None;
}

.links:hover{
    color: #161516;
}

.logo:hover{
    animation: tilt-n-move-shaking 0.25s infinite;

}

.hero-container{
    background-image: url("../assets/img/hero/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    color: white;
}

.blur {
    backdrop-filter: blur(5px);
}

.margin-10{
    margin: 10px;
}

.search-form {
    display: flex;
    align-items: center;
  }

.button-search{
border-radius: 25px;
font-weight: 700;
border: 2px solid white;
transition: transform 0.3s, box-shadow 0.3s;
&:hover {
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
}

.input-search{
    border-radius: 25px;
    font-weight: 700;
    border: 2px solid white;
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.card-movie{
    position: relative;
    /* overflow: hidden; */

    height: 100%; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    transition: transform 0.5s, box-shadow 1.5s;

    &:hover{
        box-shadow: 0 0 20px rgba(255,255,255,0.5);
        transform: scale(0.95);
        /* transform: rotateY(180deg); */
    }
}

.card-movie:hover .card-img-top {
    filter: blur(0.25rem);
  }

.card-movie:hover .card-title {
    visibility: visible;
    opacity: 1; 
  }

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-body-index{
    /* visibility: "hidden";
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    &:hover{
        background-color: rgba(30, 10, 10, 0.5);
    }
    
    
}

.card-container{
    width:25%;    
}

.cards-list{
    justify-content: space-evenly;
}

.card-title{
    /* position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color:white;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 10, 10, 0.5);
    text-align: center;        
    margin: 0;
    visibility: hidden;
    margin: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; */

    color: white;    
    padding: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    
}

.hr{
    opacity: 100%;
    width: 50%;
    border: 2px solid white;
}



.footer-link{
    text-decoration: none;
    color:white;
    &:hover{
        color:black;
    }
}


/* REGISTRO */

.bg-image{
    background-image: url('../assets/img/registro/surtido-elementos-cine-sobre-fondo-rojo-espacio-copia_23-2148457848.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-form, .login-form{
    background-color: rgba(42,42,42,0.5);
    transition: transform 0.5s, background-color 0.5s;
    &:hover{
        background-color: rgba(42,42,42,1);
    }
}
.login-form{    
}


/* DETALLE */

.main-detail{
    .detail{
        background:linear-gradient(to right top, #6d6969a7, #6d6969a7),url("../assets/img/images/mario-bg.jpg");
        background-size: cover;
        background-position: center;
        /* height: 60vh; */

        .detail-image{
            transition: transform 0.5s, box-shadow 0.5s;
            &:hover {
                transform: scale(1.1);
                box-shadow: -20px 15px 5px rgba(22, 22, 21, 0.5);
              }
        }

        .detail-content-text{
            text-align: justify;
            background-color: rgba(30, 10, 10, 0.5);
            border-radius: 0.5rem;
            .row-item{
                padding: 0;
                margin: 0.1rem;
            }
            .detail-content-item-value{
                text-align: end;
            }
        }
    }
    .trailer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .iframe-container{
        width: 100%;
        .iframe-video{            
            border-radius: 5%;
            height: 100vh;
        }
    }
}